<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--  com.jjibcha.gi.mapper.QnAMapper 인터페이스 선언 
  			- src/main/java
  			root-context.xml mybatis:scan 태그로 기본 패키지 지정
  			com.jjibcha.gi.mapper.qnaMapper.xml 실행 작성 
  			- src/main/resources -->
  
  <mapper namespace="com.jjibcha.mapper.QnAMapper">
  	
  	<!-- 게시판 리스트 : 검색 적용 -->
  	
	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="list" resultType="com.jjibcha.vo.QnAVO">
   		select *
		from qna
		<include refid="search" />
		order by qna_id desc
		limit #{skip}, #{amount}
	</select>
  	
  	<!-- 전체 데이터 가져오기 : 검색 적용 -->
  	<select id="getRow" resultType="int">
   		select count(*)
   		from qna
		<include refid="search" />
  	</select>
  	
  	<!-- 검색에 사용되는 조건 처리문 -->
  	<sql id="search">
  		
  	</sql>
 
  	
  	<insert id="write" >
   		<![CDATA[  
   		insert into qna(qna_id, mem_id, qna_title, qna_content, qna_count)
   		values(#{qna_id}, #{mem_id}, #{qna_title}, #{qna_content}, 0)   		
   		]]> 
  	</insert>
  	
  	<select id="view" resultType="com.jjibcha.vo.QnAVO">
   		<![CDATA[  
   		select qna_id, mem_id, qna_title, qna_content, qna_writerDate, qna_count
   		from qna 
   		where qna_id = #{qna_id}
   		]]> 
  	</select>
  	
  	<!-- 조회수 1 증가 -->
  	<update id="increase">
  		<![CDATA[
  		update qna
  		set qna_count = qna_count + 1
  		where qna_id = #{qna_id}
  		]]>
  	</update>
  	
  	<!-- 게시판 글수정 -->
  	<update id="update" >
  		<![CDATA[
  		update qna
  		set qna_title = #{qna_title}, qna_content = #{qna_content}
  		where qna_id = #{qna_id}
  		]]>
  	</update>
  	
  	<!-- 게시판 글삭제 -->
  	<delete id="delete" >
  		<![CDATA[
  		delete from qna
  		where qna_id = #{qna_id}
  		]]>
  	</delete>
  	
  	<select id="getqna_id" resultType="com.jjibcha.vo.QnAVO">
	
		select qna_id, qna_title 
		from qna 
		where qna_id = #{qna_id}
	
	
	</select>
  	
  </mapper>